body{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 400px) {
    body{
        font-size: 2em;   
    }    
    .container .container-button {
        width: 1000px;
    }
}

@media screen and (min-width: 401px) {
    body{
        font-size: 3em;
    }
    .container .container-button > buttom{
        width: 300px;
    } 
}
 
